*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

/* generic classes */
.flex{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    height: 100%;
    width: 100%;
}

.text-align{
    text-align: center;
}

.justify-content{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items{
    align-items: center;
}

.btn-primary{
    padding: 7px 13px;
    margin: 5px;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: white;
}

.btn-secondary{
    padding: 7px 13px;
    margin: 5px;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}

.btn-primary:hover{
    background-color: darkblue;
    color: white;
    transform: scale(1.05);
}

.btn-secondary:hover{
  color: rgb(177, 177, 177);
  transform: scale(1.05);

}

.btn-tertiary{
    padding: 7px 13px;
    border: none;
    background-color: transparent;
    color: darkblue;
}

/* layout */
.grid{
    display: grid;
    /* grid-template-areas:
      "header header"
      "sidebar main"; */
    grid-template-columns: 130px 1fr; 
    grid-template-rows: 80px 1fr;    
    height: 100vh;     
}

.grid-item-1,.grid-item-2, .grid-item-3{
    background-color: #D7DDFF;
    /* border: 1px solid red; */
}


.aside-container{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 10px;
}
.menu-item-home{
    width: 100px;
}

.menu-item button{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
}
.menu-item button:hover{
    background-color: rgb(196, 196, 237);
    border-radius: 5px;
    border: 0.5px solid rgb(196, 196, 237);
}

.notification, .user-icon{
    margin: 4px;
    background-color: transparent;
    border: none;
    padding: 7px 5px;
}

.user-icon{
    position: relative;
}

.user-icon:hover, .notification:hover{
    border-radius: 5px;
    background-color: rgb(196, 196, 237);
}

.dropdown{
    padding: 15px;
    position: absolute;
    background-color: white;
    right: 0;
    bottom: -100%;
    box-shadow: 0px 5px 5px 5px grey;
    display: none;
}

.grid-item-2{
    padding: 10px;
    place-content: end;
}
.dotted-border{
    background-color: white;
    width: 95%;
    height: 75vh;
    border: 2px dotted darkblue;
    display: grid;
    place-items: center;
    align-items: center;
}
/* Main */
.grid-item-4{
    /* display: grid;
    place-items: center;
    align-items: center; */
}
.file-img{
    width: 150px;
}

#file-input-desktop{
    display: none;
}

.file-container-outer {
    width: 100%;
    height: auto;
    overflow: hidden; 
    border: 1px solid  rgba(196, 196, 237, 0.393);
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
}
.side-bar{
   height: 100%;
    background-color: rgba(196, 196, 237, 0.393);
}

.none{
    display: none;
}

/* .animate{
    animation: slide 1s ease-in-out forwards;
}

@keyframes slide {
    0%{
        transform: translate(-100%);
    }100%{
        transform: translate(0);
    }
    
} */

.sidebar-icon{
    width: 130px;
}

.file-container {
    width: 100%;
    height: 600px; 
    overflow-y: scroll; 
    overflow-x: scroll; 
    /* padding: 50px;  */
    box-sizing: border-box;
}

.file-nav-btns{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgba(196, 196, 237, 0.393);
}

.file-nav-btns button{
    font-size: large;
    padding: 10px;
    background-color: white;
    border: none;
}

.file-nav-btns button:hover{
    background-color: rgba(196, 196, 237, 0.393);
    border-radius: 5px;
    
}